{% extends "muestra.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}
  Carro general
{% endblock title %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/prueba.css' %}">
{% endblock head %}
{% block content %}
<div class="ui grid container" id="contenedor-car-general">
    <div class="row blue">
        <div class="six wide column"><h3>Producto</h3></div>
        <div class="two wide column"><h3>Precio unitario</h3></div>
        <div class="four wide column"><h3>Cantidad</h3></div>
        <div class="four wide column"><h3>Subtotal</h3></div>
    </div>
    {% if request.session.carrito.items %}
        {% for key,value in request.session.carrito.items %}
            <div class="row" data-producto-id="{{value.producto_id}}">
                <div class="one wide column">
                    <a href="#"><button class="circular ui icon button">
                        <i class="close icon"></i>
                    </button></a>
                </div>
                <div class="two wide column">
                    <img src="{{value.imagen}}" alt="" srcset="" style="max-width: 100%;max-height: 100px;">
                </div>
                <div class="three wide column">
                    <h4>{{value.nombre}}</h4>
                </div>
                <div class="two wide column">
                    <h4>${{value.valor}}</h4>
                </div>
                <div class="four wide column">
                    <div class="ui action input" data-producto-id="{{value.color_id}}">
                        <button id="gen-decrease-{{value.color_id}}" class="ui icon button increase-btn"><i class="minus icon"></i></button>
                        <input type="number" class="ui input focus" id="gen-{{value.color_id}}" min="0" max="0" value="{{value.cantidad}}">
                        <button id="gen-increase-{{value.color_id}}" class="ui icon button increase-btn"><i class="plus icon"></i></button>
                    </div>
                </div>
                <div class="four wide column">
                    <h4>${{value.acumulado}}</h4>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="ui grid container padre" id="contenedor-car-responsive-padre">
    {% if request.session.carrito.items %}
      {% for key, value in request.session.carrito.items %}
      <div class="row elementos" data-producto-id="{{value.producto_id}}"></div>
        <div class="ui grid container" id="contenedor-car-responsive">
            <div class="row imagen">
                <img src="{{value.imagen}}" alt="" >
            </div>
            <div class="row elementos">
                <div class="four wide column izq"><h3>Producto:</h3></div>
                <div class="twelve wide column dere"><h3>{{value.nombre}}</h3></div>
            </div>
            <div class="row elementos">
                <div class="four wide column izq"><h3>Precio Unitario</h3></div>
                <div class="twelve wide column dere"><h3>${{value.valor}}</h3></div>
            </div>
            <div class="row elementos">
                <div class="eight wide column izq"><h3>Subtotal</h3></div>
                <div class="eight wide column dere"><h3>${{value.acumulado}}</h3></div>
            </div>
            <div class="row elementos">
                <div class="ten wide column izq">
                    <div class="ui action input" data-producto-id="{{value.color_id}}">
                        <button id="res-decrease-{{value.color_id}}" class="ui icon button decrease-btn"><i class="minus icon"></i></button>
                        <input type="number" class="ui input focus" id="res-{{value.color_id}}" min="0" max="0" value="{{value.cantidad}}"></input>
                        <button id="res-increase-{{value.color_id}}" class="ui icon button increase-btn"><i class="plus icon"></i></button>
                    </div>
                </div>
                <div class="six wide column dere">
                    <a href="#"><button class="circular ui icon button">
                        <i class="close icon"></i>
                    </button></a>
                </div>
            </div>
        </div>
      {% endfor %}
    {% endif %}
    <div class="row elementos">
        <div class="cent">
            <button class="ui inverted primary button cent">Actualizar carrito</button>
        </div>
    </div>
</div>
<script src="{% static 'js/generalcar.js' %}"></script>
{% endblock content %}