{% load static %}

<div class="nav-superior">
    <div class="logo">
        <img src="{% static 'img/logo dayl.png' %}" alt="Logo"><!--aca va el logo de dayl-->
    </div>
    <div class="busc-btn">
        <div class="search-bar">
            <input type="text" placeholder="Buscar...">
            <button class="search-button">Buscar</button>
        </div>
        <div class="user-buttons">
            <button class="blue-button out"><a href="#">Iniciar sesión</a></button> <!--aca va el hipervinculo para el registro-->
            <button class="blue-button" id="registro-btn"><a href="#">Registro</a></button> <!--aca va el hipervinculo para el registro-->
        </div>
    </div>
</div>
<div class="menu-container">
    <ul class="cont-ul">
        {% for categoria in categorias  %}
        <li class="develop"> <!--aca es un li (categoria) para el menu y serian 3 li -->
            <a href="{% url 'categorias' categoria %}">{{categoria.nombre|upper}}</a>
            <ul class="ul-second">
                {% for subcategoria in subcategorias %}
                    {% if subcategoria.categoria == categoria %}
                    <li class="back"><a href="{% url 'categorias' categoria subcategoria.nombre %}">{{subcategoria.nombre|upper}}</a></li> 
                    {% endif %}
                {% endfor %} <!--aca es un ul para saber que son subcategorias por cada li  -->
            </ul>
        </li>
        {% endfor %}
        <li><a href="#">NUESTRA EMPRESA</a></li> <!--aca son 2 li que son otras categorias-->
        <li><a href="#">PREGUNTAS FRECUENTES</a></li>
        <li class="cart-icon develop">
            <div class="cart-icon-custom">
                <i class="shopping cart icon"></i>
                <div class="dropdown-content">
                    <div class="ui grid container" style="color: #000;">
                        <!--Aqui comienza la creación de productos para el carrito del menu-->
                        <!--Primer producto-->
                        <div class="row">
                            <div class="three wide column">
                                <img src="../../../media/imagen/productos/15760fddb8e44041a5dcf375a200b5b4.jpg">
                            </div>
                            <div class="eleven wide column">
                                <div class="row">
                                    <h1>Titulos</h1>
                                </div>
                                <div class="row">
                                    <h3>$100000 x<p>5</p></h3>
                                </div>
                            </div>
                            <div class="two wide column">
                                <button class="circular ui icon button">
                                    <i class="close icon"></i>
                                </button>
                            </div>
                        </div>
                        <!--Fin del primer producto-->
                        <!--Segundo producto-->
                        <div class="row">
                            <div class="three wide column">
                                <img src="../../../media/imagen/productos/19917d0bc6654e0bb3b55061e02e4f31.png">
                            </div>
                            <div class="eleven wide column">
                                <div class="row">
                                    <h1>Haloha</h1>
                                </div>
                                <div class="row">
                                    <h3>$20000 x<p>3</p></h3>
                                </div>
                            </div>
                            <div class="two wide column">
                                <button class="circular ui icon button">
                                    <i class="close icon"></i>
                                </button>
                            </div>
                        </div>
                        <!--Fin del segundo producto-->
                        <!--Tercer producto-->
                        <div class="row">
                            <div class="three wide column">
                                <img src="../../../media/imagen/productos/22c3bf6b227548b385e4b2f82618ff23.jpg">
                            </div>
                            <div class="eleven wide column">
                                <div class="row">
                                    <h1>Haloha</h1>
                                </div>
                                <div class="row">
                                    <h3>$20000 x<p>3</p></h3>
                                </div>
                            </div>
                            <div class="two wide column">
                                <button class="circular ui icon button">
                                    <i class="close icon"></i>
                                </button>
                            </div>
                        </div>
                        <!--Fin del tercer producto-->
                        <!--Aqui finaliza la creación de productos para el menu-->
                        <div class="row carrito-menu-subtotal">
                            <div class="three wide column"></div>
                            <div class="five wide column"><p>Subtotal:</p></div>
                            <div class="eight wide column"><p>$500000</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="hamburger" style="display: none;">
    <div class="cont hamburger icono">
        <i class="bars icon"></i>
    </div>
    <div class="cont-menu" style="display: none;">
        {% for categoria in categorias %}
            <div class="cont-enlace">
                <div class="opcion">
                    <p>{{categoria.nombre|upper}}</p>
                    <i class="plus icon"></i>
                </div>
                <div class="enlace">
                {% for subcategoria in subcategorias %}
                  {% if subcategoria.categoria == categoria %}
                    <a href="{% url 'categorias' categoria subcategoria.nombre %}">{{subcategoria.nombre|upper}}</a>
                  {% endif %}
                {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="constantes">
            <a href="">NUESTRA EMPRESA</a>
            <a href="">PREGUNTAS FRECUENTES</a>
        </div>
    </div>
</div>