<div class="ui modal registro-modal">
    <div class="header modal">
        Registro
        <i class="close icon" style="float: right;"></i>
    </div>
    <div id="registro-content" class="content">
        <p>Cargando formulario...</p>
    </div>
    <div class="footer modal">
        <div class="user-buttons">
            <button id="inicio-btn" class="blue-button">Iniciar sesión</button>
            <button class="red-button" type="submit">Registro</button>
        </div>
    </div>
</div>