{% load static %}
{% load custom_filters %}
<link rel="stylesheet" href="{% static 'css/cat.css' %}">
<div class="gallery">
    {% for categoria in categorias %}
    <div class="content-productos product-container oculto">
        <img src="{{categoria.imagen.url}}" alt="{{categoria.nombre}}">
        {% for subcat in subcategorias %}
        {% if subcat.categoria == categoria %}
        <h3><a href="{% url 'categorias' categoria.nombre subcat.nombre %}">{{subcat.nombre}}</a></h3>{% endif %}
        {% endfor %}
        <a href="{% url 'categorias' categoria.nombre %}" class="buy-1 btn-vermas">Ver Más</a> <!--link para dirigir a otra pagina-->
    </div>
    {% endfor %}
    
</div>
<script src="{% static 'js/productos.js' %}"></script>