<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/menu-config.css">
  <link rel="stylesheet" href="css/semantic.css">
  <link rel="stylesheet" href="css/estilos.css">
  <script src="js/jquery-3.1.1.min.js"></script>
  <title>Menu_configuraciones</title>
</head>

<body style="background-color: white;">
  <div class="contenedor-configuracion">
    <div class="menu-izq">
      <div>
        <img src="img/logo dayl.png" alt="">
        <ul>
          <a href=""><li class="activo"><i class="icon home"></i><span class="ocultar responsive-span">INICIO</span></li></a> 
          <a href=""><li><i class="icon boxes"></i><span class="ocultar responsive-span">CATEGORIAS</span></li></a>
          <a href=""><li><i class="icon buromobelexperte"></i><span class="ocultar responsive-span">SUBCATEGORIAS</span></li></a>
          <a href=""><li><i class="icon dropbox"></i><span class="ocultar responsive-span">PRODUCTOS</span></li></a>
          <a href=""><li><i class="icon paint brush"></i><span class="ocultar responsive-span">P. COLOR</span></li></a>
          <a href=""><li><i class="users icon"></i><span class="ocultar responsive-span">PROVEEDORES</span></li></a>
        </ul>
      </div>
      <a href=""><div class="salida"><i class="sign-out icon"></i><span class="ocultar">logout</span></div></a>
    </div>
    <div class="contenido-central">
      <div class="menu-centro">
        <div id="icon-izquierdo"><i class="bars icon" style="font-size: 20px;"></i></div>
        <div id="input-centro" class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
        <div class="ui right pointing dropdown left-margin">
          <span class="user redirect">A</span>
          <div class="menu" style="z-index: 50;">
            <a class="floating labeled icon item"><i class="cog icon"></i>Configuracion</a>
            <a href="{% url 'admin:index' %}" class="floating labeled icon item"><i
                class="wrench icon"></i>Administracion</a>
            <a href="{% url 'cliente:logout' %}" class="floating labeled icon item"><i
                class="user times icon"></i>Desconectar</a>
          </div>
        </div>
      </div>
      {% block container %}
        
      {% endblock container %}
    </div>
  </div>
</body>
<script src="js/semantic.js"></script>

<script src="js/menu-configuracion.js"></script>
</html>