a{
  text-decoration: none!important;
  color: black!important;
}
.contenedor-configuracion{
  display: flex;
  height: 100%;
}
.menu-izq{
  width: 15%;
  max-width: 300px;
  background-color:rgb(212, 238, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-izq img{
  max-width: 110px;
  margin: 15px 5px 20px 10px;
}
.menu-izq ul{
  list-style-type: none;
  padding-left: 10px!important;
}
.menu-izq ul li {
  font-family: 'Montserrat'!important;
  font-size: 18px;
  padding: 10px 0;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  align-content: center;
  flex-wrap: nowrap;
}

.menu-izq ul li.activo{
  background-color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: -30px;
  border-bottom-right-radius:-30px ;
}
.menu-izq ul li i{
  padding: 10px;
  margin-right: 5px;
  width: 30%;
}
.menu-izq ul li span{
  width: 70%;
}

.menu-izq div.salida{
  padding-left: 10px!important;
  font-family: 'Montserrat'!important;
  font-size: 18px;
}
.menu-izq div.salida i{
  padding: 10px;
  margin-right: 5px;
  width: 30%;
}
.menu-izq div.salida span{
  width: 70%;
  
}
.contenido-central{
  padding: 0px 40px 0px;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.menu-centro {
  display: flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
  max-height: 40px;
  margin-top: 10px;
}
.buscador-menu-top{
  min-width: 70%;
}

#icon-izquierdo{
  width: 5%;
}
#input-centro{
  width: 85%;
}
#icon-deerecho{
  width: 10%;
  text-align: center;
}

@media (max-width:1600px) {
  .ocultar{
    display: none;
  }
  .menu-izq{
    width: 10%;
  }
  div.contenido-central{
    width: 90%;
  }
}
@media(max-width:1000px){
  .menu-izq img{
    max-width: 80px;
    margin: 8px 0 20px 0px;
  }
  .menu-izq div{
    text-align: center;
  }
}
@media(max-width:650px){
  .menu-izq img{
    max-width: 50px;
    margin: 8px 0 20px 0px;
  }
  i.icon, i.icons {
    font-size: 0.7em!important;
    padding-bottom: 20px!important;
  }
}