

.options a {
    text-decoration: none;
    color: #fff;
    
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #F9FAFB;
}


@media screen and (max-width: 600px) {
    /* Hace que la tabla sea responsive en dispositivos pequeños */
    td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    td::before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
        margin-bottom: 5px; /* Espacio entre las etiquetas y las respuestas */
    }
    
    th{
        display: none;
    }
}