.decrease-btn, /*estos los utilizas tu en prueba con el archivo producto alejandro es lo mismo */
.increase-btn {
    cursor: pointer;
    border: 1px solid #797878 !important;
    color: #272727 !important;
    background-color: #fff !important;
}

.increase-btn:hover, /*estos los utilizas tu en prueba con el archivo producto alejandro es lo mismo */
.decrease-btn:hover {
    background-color: #5599f8 !important;
    color: #fff !important;
    border-color: #5599f8 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { /*estos los utilizas tu en prueba con el archivo producto alejandro es lo mismo */
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] { /*estos los utilizas tu en prueba con el archivo producto alejandro es lo mismo */
    -moz-appearance: textfield;
}

#quantity-input { /*estos los utilizas tu en prueba con el archivo producto alejandro es lo mismo */
    border: 1px solid #797878 !important;
    border-radius: 0 !important;
    width: 70px !important; /* lo unico que cambie fue esto para que se pudieran ver bien 3 numeros*/
    text-align: center;
}

.decrease-btn { /*estos los utilizas tu en prueba con el archivo producto alejandro es lo mismo */
    border-radius: 0.28571429rem 0px 0px 0.28571429rem !important;
}

.ui.container-carrito {
    margin: 20px;
}

.titulo {
    text-align: center;
}

.img .carrito {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.ui .unstackable .celled table {
    margin-bottom: 20px;
}

.update-button-carrito {
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
    text-align: right;
    margin-top: 10px;
}

.ui.column.grid>[class*="ten wide"].column,
.ui.grid>.column.row>[class*="ten wide"].column,
.ui.grid>.row>[class*="ten wide"].column,
.ui.grid>[class*="ten wide"].column {
    width: 100% !important;
}

.ui.table thead th {
    text-align: center !important;
    background:#87CEFA;
}

.ui.table tr td.quantity,
.ui.table tr td.product-price {
    text-align: center !important;
}

.ui.table tfoot tr th[colspan="4"] {
    text-align: center !important;
}

.ui.table tfoot tr td[colspan="4"] {
    text-align: center !important;
}

.total-carrito {
    text-align: center;
    width: 100%;
    background: #87CEFA;
}

.ui.column.grid>[class*="sixteen wide"].column,
.ui.grid>.column.row>[class*="sixteen wide"].column,
.ui.grid>.row>[class*="sixteen wide"].column,
.ui.grid>[class*="sixteen wide"].column {
    width: 50% !important;
}

.ui.celled.table tr td:first-child,
.ui.celled.table tr th:first-child {
    border-left: none;
    text-align: center !important;
}