{% load static %}
{% load custom_filters %}

    <li class="shopping cart icon develop">
        <i class="shopping cart icon"></i>
        {% if request.session.carrito.items %}
            {% for key, value in request.session.carrito.items %}
            <ul class="ul-second">
                <div class="four wide column">
                    <img src="{{value.imagen}}" >
                </div>
                <div class="four wide column">
                    <li class="back">{{value.nombre}}</li>
                </div>
                <div class="four wide column">
                    <li class="back">${{value.acumulado}}</li>
                </div>
                <div>
                    <li class="back">${{value.cantidad}}</li>
                    <a href="{% url 'Add' value.producto_id  %}" ><button class="badge btn btn-dark badge-dark">+</button></a>
                    <a href="{% url 'Sub' value.producto_id  %}" class="badge btn btn-dark badge-dark"><button class="badge btn btn-dark badge-dark">-</button></a>
                </div>
            </ul>
            {% endfor %}      
        {% else %}
        <ul class="ul-second">           
            <li >Sin productos <br>              
        </ul>
        {% endif %}
        <ul class="ul-second">           
            <li>Total: ${{total_carrito}}</li>
            <button class="ui teal basic button"><a href="{% url 'cls' %}">Limpiar</a></button>
            <button class="ui teal basic button">Guardar</button>
        </ul>
    </li>

     