{% load static %}
<footer>
    <body>
        <div class="footer">
            <div>
                <img src="{% static 'img/logo dayl.png' %}"><!--Aca va el logo de la empresa-->
            </div>
            <div>
                <h5>NUESTRA EMPRESA</h5>
                <p><a href="#">Sobre Nososotros</a></p><!--aca va el hipervinculos de nuestra empresa-->
                <p><a href="#">Términos y Condiciones</a></p><!--Aca van los terminos y condiciones-->
                <p><a href="#">Politicas de Privacidad</a></p><!--aca va el hipervinculos de politicas de privacidad-->
            </div>
            <div>
                <h5>NUESTROS PRODUCTOS</h5>
                {% for categoria in categorias %}
                    <p><a href="#">{{categoria.nombre}}</a></p>
                {% endfor %}
            </div>
            <div class="contact-container">
                <h5>CONTACTANOS</h5>
                <a class="whatsapp-icon" href="#"><!--aca va el hipervinculo para ir a la vista de jugueteria-->
                    <i class="whatsapp icon"></i><!--Icono de wpp-->
                </a>
            </div>
            <div>
        </div>
</footer>