{% load static %}
<head>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<div class="nav-superior">
    <div class="logo">
        <img src="{% static 'img/logo dayl.png' %}" alt="Logo"><!--aca va el logo de dayl-->
    </div>
    <div class="busc-btn">
        <div class="search-bar">
            <input type="text" placeholder="Buscar...">
            <button class="search-button">Buscar</button>
        </div>
        <div class="user-buttons">
            <button class="blue-button"><a href="#">Iniciar sesión</a></button> <!--aca va el hipervinculo para el registro-->
            <button class="blue-button"><a href="#">Registro</a></button> <!--aca va el hipervinculo para el registro-->
        </div>
    </div>
</div>
<div class="menu-container">
    <ul class="cont-ul">
        {% for categoria in categorias  %}
        <li class="develop"> <!--aca es un li (categoria) para el menu y serian 3 li -->
            {{categoria.nombre|upper}}
            <ul class="ul-second">
                {% for subcategoria in subcategorias %}
                    {% if subcategoria.categoria == categoria %}
                    <li class="back"><a href="#">{{subcategoria.nombre|upper}}</a></li> 
                    {% endif %}
                {% endfor %} <!--aca es un ul para saber que son subcategorias por cada li  -->
            </ul>
        </li>
        {% endfor %}
        <li><a href="#">NUESTRA EMPRESA</a></li> <!--aca son 2 li que son otras categorias-->
        <li><a href="#">PREGUNTAS FRECUENTES</a></li>
        <li class="cart-icon" id="carrito">
            <li class="develop">
                <i class="shopping cart icon"></i>
                    <ul class="ul-second buy-card">
                                     
                        <ul class="nav-card">
                
                        </ul>
        
                        <div class="lista_de_curso">
                            
                        </div>
                    
                        <button class="ui primary basic button">a</button>
                        <button class="ui secondary basic button" id="vaciar_carrito">b</button>
                    
                    </ul>
                </li>
            </li>
        </i>
    </ul>
</div>
